*{
    font-family: 'Ubuntu', sans-serif;
}
.header{
    width: 1440px;
    height: 117px;
    box-shadow: 0px 3px 7px 0px #00000040;
    position: absolute;

}
.skull h2{
    height: 126px;
    width: 512px;
    left: 202px;
    top: 210px;
    border-radius: nullpx;
    font-weight: 700;
    font-size: 55px;
    line-height: 63.2px;
    color: #FF4081;
    position: absolute;
}
.skull p{
    width: 461px;
    height: 186px;
    top: 358px;
    left: 202px;
    font-weight: 300;
    font-size: 20px;
    font-style: normal;
    line-height: 22.98px;
    position: absolute;
    display: flex;
    align-items: center;
}
.skull img{
    width: 380px;
    height: 381px;
    top: 197px;
    left: 751px;
    border: 1px solid #000000;
    position: absolute;
}
.chest {
    box-sizing: border-box;
    width: 1440px;
    height: 1235px;
    margin-top: 659px;
    background-color: #f7f7f7;
}
.aula-um iframe{
    width: 462px;
    height: 261px;
    top: 734px;
    left: 213px;
    color: #8E8E8E;
    border: 3px solid #8E8E8E;
    box-sizing: border-box;
    position: absolute;
}
.aula-um h2{
    width: 512px;
    height: 40px;
    top: 734px;
    left: 751px;
    font-weight: 700;
    font-size: 35px;
    line-height: 40.22px;
    color: #FF4081;
    font-style: normal;
    position: absolute;

}
.aula-um p{
    width: 501px;
    height: 195px;
    top: 800px;
    left: 751px;
    font-weight: 300;
    font-size: 20px;
    line-height: 22.98px;
    position: absolute;
    font-style: normal;
    display: flex;
    align-items: center;
}
.aula-dois iframe{
    width: 462px;
    height: 261px;
    top: 1146px;
    left: 212px;
    color: #8E8E8E;
    border: 3px solid #8E8E8E;
    box-sizing: border-box;
    position: absolute;
}
.aula-dois h2{
    width: 512px;
    height: 40px;
    top: 1146px;
    left: 750px;
    font-weight: 700;
    font-size: 35px;
    line-height: 40.22px;
    color: #FF4081;
    font-style: normal;
    position: absolute;
}
.aula-dois p{
    width: 501px;
    height: 195px;
    top: 1212px;
    left: 750px;
    font-weight: 300;
    font-size: 20px;
    line-height: 22.98px;
    position: absolute;
    font-style: normal;
    display: flex;
    align-items: center;
}
.aula-tres iframe{
    width: 462px;
    height: 261px;
    top: 1558px;
    left: 212px;
    color: #8E8E8E;
    border: 3px solid #8E8E8E;
    box-sizing: border-box;
    position: absolute;
}
.aula-tres h2{
    width: 512px;
    height: 40px;
    top: 1558px;
    left: 750px;
    font-weight: 700;
    font-size: 35px;
    line-height: 40.22px;
    color: #FF4081;
    font-style: normal;
    position: absolute;
    }
.aula-tres p{
    width: 501px;
    height: 195px;
    top: 1624px;
    left: 750px;
    font-weight: 300;
    font-size: 20px;
    line-height: 22.98px;
    position: absolute;
    font-style: normal;
    display: flex;
    align-items: center;
}
.footer{
    width: 1140px;
    height: 207px;
    position: absolute;
    background-color: #419488;
}
