html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
/* reset de todo css acima */

/* Cabecalho das paginas  abaixo */
body {
    font-family: 'Segoe UI';
}

#header {
    background-color: #2e948a;

}

#header nav {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 128px;
    padding-top: 20px;
    padding-bottom: 26px;
    padding-right: 103px;
    background-color: #2e948a;
}

#header nav ul {
    width: 309px;
    height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 27px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fdfdfd;
    text-transform: uppercase;
}

#header a {
    text-decoration: none;
    color: #fdfdfd;
    cursor: pointer;
}

/* home  abaixo */

.main-home {
    display: flex;
    justify-content: column;
    flex-wrap: wrap;
    font-family: 'Segoe UI';
}

.main-home h1 {
    color: #ff4081;
    font-weight: 700;
}

.main-banner {
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 1440px;
    height: 829px;
    background-color: #fff;
    padding-left: 128px;

}

.main-banner h1 {
    font-size: 60px;
    width: 488px;
    height: 216px;
    text-align: left;
    line-height: 69px;
}

.main-banner h2 {
    font-size: 27px;
    font-weight: 400;
    line-height: 31px;
    width: 462px;
    height: 62px;
    color: #555;
    margin-top: 19px;
    margin-bottom: 47px;
}

.main-banner a {
    text-decoration: none;
    font-size: 27px;
    font-weight: 400;
    line-height: 31px;
    color: #ff4081;
    box-sizing: border-box;

    border: 2px solid #ff4081;
    border-radius: 62px;
    padding: 8px 26px;
}

.main-banner article img {
    width: 501px;
    height: 511px;
}

.main-cursos {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
    padding-left: 128px;
    padding-right: 128px;
    width: 1440px;
    height: 730px;
    padding-top: 109px;
    background-color: #F7F7F7;

}

.main-cursos article {
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 22px;
}

.main-cursos article h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #ff4081;
    text-align: center;
    margin-top: 43px;
    padding-left: 50px;
}

.main-cursos article p {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 80px;
    padding-left: 35px;
    width: 239px;
    height: 60px;
}

.main-cursos article a {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #FF4081;
    border-radius: 62px;
    width: 216px;
    height: 20px;
    text-decoration: none;
    margin-left: 90px;
    padding: 8px 15px;
}

.main-cursos .image1 {
    width: 288px;
    height: 270px;
    padding-left: 30px;
}

.main-cursos .image2 {
    width: 238px;
    height: 270px;
    padding-left: 30px;
}

.main-cursos .image3 {
    width: 187px;
    height: 270px;
    padding-left: 30px;
}

.main-avaliacao {
    font-family: 'Segoe UI';
    height: 800px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    padding-left: 128px;
    background-color: #fff;
}

.main-avaliacao h3 {
    width: 478px;
    height: 50px;
    font-weight: 700;
    font-size: 37px;
    line-height: 50px;
    color: #009688;
    margin-bottom: 78px;
    margin-top: 119px;
}

.main-avaliacao-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 120px;
}

.main-avaliacao-div article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
    padding-right: 30px;
    margin-bottom: 49px;
}

.main-avaliacao-div article div {
    display: flex;
    flex-direction: column;
}

.main-avaliacao img {
    width: 104px;
    height: 104px;
    margin-right: 8px;
}

.main-avaliacao p {
    width: 363px;
    height: 70px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000;
}

.main-avaliacao h4 {
    width: 363px;
    height: 70px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000;
    margin-top: 15px;
}

.main-blog {
    font-family: 'Segoe UI';
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 730px;
    background-color: #F7F7F7;
}

.main-blog h3 {
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #009688;
    padding-left: 128px;
    padding-top: 91px;
    padding-bottom: 73px;
}

.main-blog .container {
    display: flex;
    flex-direction: row;
    padding-left: 128px;
}

.main-blog .container article {
    padding-right: 45px;
}

.main-blog .container article h4 {
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #009688;
    font-size: 18px;
    margin-top: 11px;
}

.main-blog .container article p {
    width: 319px;
    height: 114px;
    text-align: justify;
    margin-top: 11px;
    color: #000000;
}

.main-blog .link {
    display: flex;
    justify-content: center;
}

.main-blog a {
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #FF4081;
    text-decoration: none;
    border: 2px solid #FF4081;
    border-radius: 62px;
    width: 207px;
    height: 31px;
    padding: 11px 41px;
}

/* pagina de contato abaixo */

.contato-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    font-family: 'Segoe UI';
}

.contato-main form h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #FF4081;
    width: 154px;
    height: 46px;
}

.contato-main form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 128px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 105px;
    width: 493px;
}

.contato-main form::placeholder {
    color: #58555D;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
}

.contato-main form input {
    margin-top: 15px;
    background: #FFFFFF;
    border: 1px solid #686868;
    border-radius: 7px;
}

.contato-main form textarea {
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
    background: #FFFFFF;
    border: 1px solid #686868;
    border-radius: 7px;
    width: 493px;
    height: 193px;
    resize: none;
}

.contato-main form textarea::placeholder {
    color: #58555D;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
}

.contato-main form button {
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background: #FF4081;
    border-radius: 50px;
    border: #ff4081;
    width: 93px;
    height: 22px;
    margin-top: 15px;
    margin-bottom: 102px;
    cursor: pointer;
}

.contato-main img {
    width: 444px;
    height: 444px;
    margin-top: 82px;
    margin-left: 130px;
    margin-bottom: 92px;
}

/* pagina de post do blogs abaixo*/

.main-blog-internal {
    font-family: 'Segoe UI', Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.main-blog-internal section {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding-left: 204px;
    padding-right: 204px;
    width: 1032px;
    flex-wrap: wrap;
}

.main-blog-internal section h2 {
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    color: #FF4081;
    margin-top: 110px;
    align-self: center;
}

.main-blog-internal section span {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #9D9D9D;
    margin-top: 12px;
    align-self: center;
}

.main-blog-internal section img {
    width: 1032px;
    height: 465px;
    margin-top: 74px;
    padding-left: 0px;
    padding-left: 0px;
    display: flex;
    margin-bottom: 64px;
}

.main-blog-internal section p {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: justify;
    
}

.main-blog-internal section h3 {
    color: #419488;
    font-weight: 600;
    font-size: 25px;
    line-height: 21px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.main-blog-cursos {
    display: flex;
    flex-direction: column !important;
    flex-wrap: nowrap;
    width: 1440px;
    height: 899px;
    margin-top: 110px;
    background-color: #F7F7F7;
}

.main-blog-cursos h3 {
    align-self: center;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    color: #FF4081;
    align-self: center;
    margin-bottom: 100px;
    padding-top: 80px;
}

.main-blog-cursos div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: space-around;
    justify-content: space-around;
    width: 1440px;
    padding-left: 0;
    margin-left: 0;
}

.main-blog-cursos div article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: space-around;
    width: 344px;
    padding-right: 5px;
}

.main-blog-cursos div article .blog-img1 {
    width: 288px;
    height: 279px;
}

.main-blog-cursos div article .blog-img2 {
    width: 238px;
    height: 279px;
}

.main-blog-cursos div article .blog-img3 {
    width: 187px;
    height: 279px;
}

.main-blog-cursos div article h4 {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: justify;
    color: #FF4081;
    margin-top: 52px;
}

.main-blog-cursos div article p {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: justify;
    color: #000000;
    Width: 293px;
    Height: 73.89px;
    margin-top: 28px;
    margin-bottom: 70px;
}

.main-blog-cursos div article a {
    text-decoration: none;
    width: 216px;
    height: 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #FF4081;
    border-radius: 62px;
    padding: 10px 20px;
}

/* footer  abaixo */

#footer {
    background-color: #2e948a;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Segoe UI';
    padding: 50px;
}

#footer .nav ul li {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    align-items: space-between;
    align-content: space-around;
    padding: 7px;

}

#footer .professor ul li {

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    box-sizing: border-box;
    padding: 10px;
    margin: 9px;
}

#footer a {
    text-decoration: none;
}

@media screen and (max-width: 1260px) {

    #header {
        width: 100%;
        padding: 0;
    }


    .main-banner {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
        height: 980px;
        padding: 15px;


    }

    .main-banner img {
        margin-top: 65px;
    }

    .main-cursos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: space-around;
        justify-content: space-around;
        height: 1230px;
        width: 100%;
    }

    .main-avaliacao {
        width: 100%;
        height: 1180px;
        padding-left: 25px;
        align-items: center;
        justify-items: center;

    }

    .main-avaliacao h3 {
        width: 239px;
        height: 25px;
        font-size: 19px;
        line-height: 10px;
        margin-bottom: 39px;
        margin-top: 60px;
    }

    .main-avaliacao-div {
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }

    .main-avaliacao-div article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding-right: 0px;
    }

    .main-avaliacao img {
        width: 95px;
        height: 95px;
        margin-right: 0px;
    }

    .main-avaliacao p {
        text-align: justify;
    }

    .main-blog {
        width: 100%;
        height: 1400px;
        align-items: center;
        align-content: center;
    }

    .main-blog .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .main-blog .container article h {
        text-align: left;

    }

    .main-blog a {
        width: 180px;
        height: 31px;
        font-size: 20px;
    }
}

@media screen and (max-width: 890px) {
    .main-cursos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        padding-left: 0;

    }

    .main-cursos article p {
        margin-top: 12px;
        margin-bottom: 45px;
    }


    .main-cursos .image1 {
        width: 144px;
        height: 135px;
        padding-left: 35%;
    }

    .main-cursos .image2 {
        width: 119px;
        height: 135px;
        padding-left: 35%;
    }

    .main-cursos .image3 {
        width: 94px;
        height: 135px;
        padding-left: 35%;
    }
}

@media screen and (max-width: 768px) {

    #header {
        width: 100%;

    }

    #header nav img {
        width: 122px;
        height: 36px;
    }

    #header nav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        width: 100%;
        padding: 10px;
        flex-wrap: wrap;
    }

    #header nav ul {
        width: 155px;
        font-size: 15px;
        font-weight: 500;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;

    }

    #header nav ul li {
        padding: 10px;

    }

    .main-banner {

        width: 768px;
        height: 768px;
        align-items: flex-start;
        padding-left: 0;
        background-color: #fff;

    }

    .main-banner h1 {
        font-size: 30px;
        width: 244px;
        line-height: 40px;
        margin-top: 19px;
        height: 108px;
    }

    .main-banner h2 {
        width: 230px;
        margin-top: 0px;
        margin-bottom: 47px;
        height: 30px;
        margin-top: 19px;
        margin-bottom: 87px;
    }

    .main-banner article img {
        width: 250px;
        height: 261px;
    }

    .main-banner a {
        width: 105px;
        padding: 4px 13px;
        font-size: 27px;
        width: 108px;
        height: 21px;
    }

    .main-cursos {
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 0px;
        padding-right: 0px;
        height: 1230px;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 100%;
    }



    .main-cursos article h2 {
        margin-top: 15px;
    }

    .main-cursos article p {
        margin-top: 12px;
        margin-bottom: 45px;

    }

    .main-cursos article a {
        width: 115px;
        height: 25px;
        font-size: 15px;
        margin-left: 35%;
        padding: 4px 10px;
    }

    .main-cursos .image1 {
        width: 144px;
        height: 135px;
        padding-left: 35%;
    }

    .main-cursos .image2 {
        width: 119px;
        height: 135px;
        padding-left: 35%;
    }

    .main-cursos .image3 {
        width: 94px;
        height: 135px;
        padding-left: 35%;
    }

    .main-avaliacao {
        width: 100%;
        height: 1180px;

        padding-left: 25px;
        align-items: center;
        justify-items: center;
    }

    .main-avaliacao h3 {
        width: 239px;
        height: 25px;
        font-size: 19px;
        line-height: 10px;
        margin-bottom: 39px;
        margin-top: 60px;
    }

    .main-avaliacao-div {
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }

    .main-avaliacao-div article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding-right: 0px;
        width: 345px;
    }

    .main-avaliacao img {
        width: 95px;
        height: 95px;
        margin-right: 0px;
    }

    .main-avaliacao p {
        text-align: justify;
        width: 320px;

    }

    .main-blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 1300px;
    }

    .main-blog h3 {
        font-size: 18px;
        padding-left: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .main-blog .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding: 0;
        padding-left: 0px;
    }

    .main-blog .container article h4 {
        text-align: center;
    }

    .main-blog .container article {
        padding-right: 0px;
    }

    .main-blog a {
        width: 180px;
        height: 31px;
        font-size: 20px;
    }

    #footer {
        width: 100%;
        padding: 0;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    #footer img {
        margin-top: 15px;
        width: 156px;
        height: 50px;
    }

    #footer .nav ul {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}


/* responsividade da pagina post do blog abaixo */
@media screen and (max-width: 768px) {

    .main-blog-internal section {
        padding: 15px;
        width: 100%;
        min-width: 330px;
        display: flex;
        align-content: center;
        align-items: center;
        
    }

    .main-blog-internal section h2 {
        font-size: 25px;
        margin-top: 55px;
        align-self: flex-start;
        line-break: auto;
        padding-right: 25px;
        line-height: 25px;
    }

    .main-blog-internal section span {
        font-size: 10px;
        margin-top: 6px;
        align-self: flex-start;
    }

    .main-blog-internal section img {
        width: 330px;
        height: 232px;
        padding-right: 15px;
    }
    .main-blog-internal section p{
        font-size: 12px;
        line-height: 15px;
        padding-right: 40px;
    }

    .main-blog-internal section h3{
        font-size: 15px;
        font-weight: 500;
        line-break: auto;
        padding-right: 30px;
        
    }
}



/* responsividade da pagina de contatos abaixo */
@media screen and (max-width: 1195px) {
    .contato-main {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
        align-items: left;
    }

    .contato-main form {
        padding: 15px;
        margin: 0;
    }

    .contato-main form input {
        width: 720PX;
    }

    .contato-main form textarea {
        width: 720PX;
    }

    .contato-main form button {
        margin-bottom: 0px;
    }

    .contato-main img {
        margin: 0;
        padding: 0;
        padding-left: 5%;

    }
}

@media screen and (max-width: 768px) {

    .contato-main {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
        align-items: center;
    }

    .contato-main form h2 {
        font-size: 30px;
        padding: 0;
        margin-top: 0;
    }

    .contato-main form {
        padding: 15px;
        padding-right: 0;
        width: 400px;
        margin-top: 0;
    }

    .contato-main form::placeholder {
        font-size: 10PX;
    }

    .contato-main form input {
        width: 340PX;
        font-size: 10px;
    }

    .contato-main form textarea {
        width: 340PX;
        font-size: 10px;
    }

    .contato-main form textarea::placeholder {
        font-size: 10PX;
    }

    .contato-main form button {
        margin-bottom: 15px;
    }

    .contato-main img {
        width: 222px;
        height: 222px;
        margin: 0;
        padding: 0;
        margin-left: 0px;
        padding-bottom: 30px;
    }
}