html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
/* reset de todo css acima */

/* Cabecalho das paginas  abaixo */
body {
    font-family: 'Segoe UI';
}

#header {
    background-color: #2e948a;

}

#header nav {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 128px;
    padding-top: 20px;
    padding-bottom: 26px;
    padding-right: 103px;
    background-color: #2e948a;
}

#header nav ul {
    width: 309px;
    height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 27px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fdfdfd;
    text-transform: uppercase;
}

#header a {
    text-decoration: none;
    color: #fdfdfd;
    cursor: pointer;
}

/* home  abaixo */

.main-home {
    display: flex;
    justify-content: column;
    flex-wrap: wrap;
    font-family: 'Segoe UI';
}

.main-home h1 {
    color: #ff4081;
    font-weight: 700;
}

.main-banner {
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 829px;
    background-color: #fff;
    padding-left: 128px;

}

.main-banner h1 {
    font-size: 60px;
    width: 488px;
    height: 216px;
    text-align: left;
    line-height: 69px;
}

.main-banner h2 {
    font-size: 27px;
    font-weight: 400;
    line-height: 31px;
    width: 462px;
    height: 62px;
    color: #555;
    margin-top: 19px;
    margin-bottom: 47px;
}

.main-banner a {
    text-decoration: none;
    font-size: 27px;
    font-weight: 400;
    line-height: 31px;
    color: #ff4081;
    box-sizing: border-box;

    border: 2px solid #ff4081;
    border-radius: 62px;
    padding: 8px 26px;
}

.main-banner article img {
    width: 501px;
    height: 511px;
}

.main-cursos {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
    padding-left: 128px;
    padding-right: 128px;
    width: 100%;
    height: 730px;
    padding-top: 109px;
    background-color: #F7F7F7;

}

.main-cursos article {
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 22px;
}

.main-cursos article h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #ff4081;
    text-align: center;
    margin-top: 43px;
    padding-left: 50px;
}

.main-cursos article p {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 80px;
    padding-left: 35px;
    width: 239px;
    height: 60px;
}

.main-cursos article a {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #FF4081;
    border-radius: 62px;
    width: 216px;
    height: 20px;
    text-decoration: none;
    margin-left: 90px;
    padding: 8px 15px;
}

.main-cursos .image1 {
    width: 288px;
    height: 270px;
    padding-left: 30px;
}

.main-cursos .image2 {
    width: 238px;
    height: 270px;
    padding-left: 30px;
}

.main-cursos .image3 {
    width: 187px;
    height: 270px;
    padding-left: 30px;
}

.main-avaliacao {
    font-family: 'Segoe UI';
    height: 800px;
    
    display: flex;
    flex-direction: column;
    padding-left: 128px;
    background-color: #fff;
}

.main-avaliacao h3 {
    width: 478px;
    height: 50px;
    font-weight: 700;
    font-size: 37px;
    line-height: 50px;
    color: #009688;
    margin-bottom: 78px;
    margin-top: 119px;
}

.main-avaliacao-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 120px;
}

.main-avaliacao-div article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
    padding-right: 30px;
    margin-bottom: 49px;
}

.main-avaliacao-div article div {
    display: flex;
    flex-direction: column;
}

.main-avaliacao img {
    width: 104px;
    height: 104px;
    margin-right: 8px;
}

.main-avaliacao p {
    width: 363px;
    height: 70px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000;
}

.main-avaliacao h4 {
    width: 363px;
    height: 70px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000;
    margin-top: 15px;
}

.main-blog {
    font-family: 'Segoe UI';
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 730px;
    background-color: #F7F7F7;
}

.main-blog h3 {
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #009688;
    padding-left: 128px;
    padding-top: 91px;
    padding-bottom: 73px;
}

.main-blog .container {
    display: flex;
    flex-direction: row;
    padding-left: 128px;
    justify-content: space-around;
}

.main-blog .container article {
    padding-right: 45px;
}

.main-blog .container article h4 {
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #009688;
    font-size: 18px;
    margin-top: 11px;
}

.main-blog .container article p {
    width: 319px;
    height: 114px;
    text-align: justify;
    margin-top: 11px;
    color: #000000;
}

.main-blog .link {
    display: flex;
    justify-content: center;
}

.main-blog a {
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #FF4081;
    text-decoration: none;
    border: 2px solid #FF4081;
    border-radius: 62px;
    width: 207px;
    height: 31px;
    padding: 11px 41px;
}

.main-blog .container .fotolink{
    padding: 0;
    border: none;

}

/*  --------------------------------------pagina de cursos abaixo -----------------------------------------*/

.cursos-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cursos-main .cursos-header {
    background-color: #FFFFFF;
    margin-left: 89px;
    margin-top: 81px;
    margin-bottom: 95px;
}

.cursos-main .cursos-header h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
}

.cursos-main .cursos-header p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.cursos-main .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cursos-main .container .curso1 {
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    align-content: space-around;
}

.cursos-main .container .cursosimg1 {
    width: 380px;
    height: 381px;
    padding-left: 112px;
    padding-bottom: 68px;
}

.cursos-main .container h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}

.cursos-main .container p {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    width: 724px;
    height: 105px;
    padding-top: 37px;
    padding-bottom: 53px;
}

.cursos-main .container a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #419488;
    border-radius: 62px;
    width: 216px;
    height: 25px;
    padding: 9px 13px;
}

.cursos-main .container .curso2 {
    height: 590px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.cursos-main .container .cursosimg2 {
    width: 380px;
    height: 385px;
    margin-left: 112px;
    margin-top: 107px;
    margin-bottom: 93px;
}

.cursos-main .container .curso2 h2 {
    padding-top: 108px;
}

.cursos-main .container .curso2::before {
    content: "";
    width: 80%;
    height: 5px;
    background: #C4C4C4;
    display: block;
    position: absolute;
    left: 10%;
    top: 834px;
}

.cursos-main .container .curso2::after {
    content: "";
    width: 80%;
    height: 5px;
    background: #C4C4C4;
    display: block;
    position: absolute;
    left: 10%;
    top: 1424px;
}

.cursos-main .container .curso3 {
    height: 750px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.cursos-main .container .curso3 .cursosimg3 {
    width: 380px;
    height: 498px;
    margin-left: 128px;
    margin-top: 93px;
    margin-bottom: 411px;
}

.cursos-main .container .curso3 h2 {
    margin-top: 152px;
}

/* --------------------------------------pagina de aulas do curso abaixo ----------------------------------*/

.aulas-main {
    display: flex;
    flex-direction: column;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aula-banner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    padding-left: 225px;
    height: 580px;
}

.aula-banner h2 {
    font-weight: 700;
    font-size: 55px;
    line-height: 63px;
    color: #FF4081;
    margin-top: 92px;
    width: 512px;
}

.aula-banner p {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    width: 461px;
    height: 186px;
    margin-top: 30px;
    margin-bottom: 115px;
}

.aula-banner img {
    width: 380px;
    height: 381px;
    margin-top: 81px;
    margin-bottom: 81px;
}

.aulas-video {
    background-color: #F7F7F7;

}

.aulas-video iframe {
    
    margin-top: 75px;
    margin-bottom: 75px;
    width: 426px;
    height: 261px;
    margin-left: 213px;
    
}

.aulas-video h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
    margin-top: 75px;
    margin-left: 76px;
}

.aulas-video p {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-left: 76px;
    margin-top: 26px;
    line-break: auto;
    width: 501px;
    height: 195px;
    text-align: justify;
}

.aulas-video article {
    height: 409px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}



.aulas-video .aula1::before {
    content: "";
    background-color: #C4C4C4;
    display: block;
    position: absolute;
    top: 1113px;
    left: 10%;
    width: 80%;
    height: 5px;
}

.aulas-video .aula1::after {
    content: "";
    background-color: #C4C4C4;
    display: block;
    position: absolute;
    top: 1520px;
    left: 10%;
    width: 80%;
    height: 5px;
}

/* --------------------------------------pagina de contato abaixo -----------------------------------------*/

.contato-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    font-family: 'Segoe UI';
    justify-content: space-around;
}

.contato-main form h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #FF4081;
    width: 154px;
    height: 46px;
}

.contato-main form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 128px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 105px;
    width: 493px;
}

.contato-main form::placeholder {
    color: #58555D;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
}

.contato-main form input {
    margin-top: 15px;
    background: #FFFFFF;
    border: 1px solid #686868;
    border-radius: 7px;
}

.contato-main form textarea {
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
    background: #FFFFFF;
    border: 1px solid #686868;
    border-radius: 7px;
    width: 493px;
    height: 193px;
    resize: none;
}

.contato-main form textarea::placeholder {
    color: #58555D;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
}

.contato-main form button {
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background: #FF4081;
    border-radius: 50px;
    border: #ff4081;
    width: 93px;
    height: 22px;
    margin-top: 15px;
    margin-bottom: 102px;
    cursor: pointer;
}

.contato-main img {
    width: 444px;
    height: 444px;
    margin-top: 82px;
    margin-left: 130px;
    margin-bottom: 92px;
}

/* ------------------------------------- pagina do blog abaixo ------------------------------------- */

.blog-main {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', sans-serif;
    height: 542px;
    flex-wrap: wrap;
    align-content: space-around;
}

.blog-main h3 {
    font-weight: 700;
    font-size: 47px;
    line-height: 54px;
    color: #009688;
    width: 512px;
    height: 108px;
    padding-top: 122px;
    padding-left: 239px;
    padding-bottom: 40px;
}

.blog-main p {
    width: 461px;
    height: 110px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    padding-left: 239px;
    padding-bottom: 62px;
}

.blog-main img {
    width: 405px;
    height: 405px;
    padding-top: 25px;
    padding-bottom: 89px;
}

.blog-vitrine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    padding-left: 100px;
    background-color: #E5E5E5;
    padding-right: 60px;
}

.blog-vitrine article img {
    width: 518px;
    height: 259px;
    padding-top: 70px;
    padding-right: 63px;

}

.blog-vitrine article h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    color: #FF4081;
    margin-top: 20px;
}

.blog-vitrine article p {
    width: 516px;
    height: 80px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    margin-top: 20px;
    text-align: justify;
    margin-bottom: 80px;
}

.blog-vitrine a {
    text-decoration: none;
}


/* ------------------------------------- pagina de post do blogs abaixo  -------------------------------------*/

.main-blog-internal {
    font-family: 'Segoe UI', Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.main-blog-internal section {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-left: 204px;
    padding-right: 204px;
    
    flex-wrap: wrap;
}

.main-blog-internal section h2 {
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    color: #FF4081;
    margin-top: 110px;
}

.main-blog-internal section span {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #9D9D9D;
    margin-top: 12px;

}

.main-blog-internal section img {
    max-width: 1032px;
    max-height: 465px;
    margin-top: 74px;
    margin-bottom: 64px;
}

.main-blog-internal section p {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: justify;

}

.main-blog-internal section h3 {
    color: #419488;
    font-weight: 600;
    font-size: 25px;
    line-height: 21px;
    margin-top: 50px;
    margin-bottom: 25px;
    align-self: flex-start;
}

.main-blog-cursos {
    display: flex;
    flex-direction: column !important;
    flex-wrap: nowrap;
    
    height: 899px;
    margin-top: 110px;
    background-color: #F7F7F7;
}

.main-blog-cursos h3 {
    align-self: center;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    color: #FF4081;
    margin-bottom: 100px;
    padding-top: 80px;
}

.main-blog-cursos div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: space-around;
    justify-content: space-around;
    
    padding-left: 0;
    margin-left: 0;
}

.main-blog-cursos div article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 344px;
    padding-right: 5px;
}

.main-blog-cursos div article .blog-img1 {
    width: 288px;
    height: 279px;
}

.main-blog-cursos div article .blog-img2 {
    width: 238px;
    height: 279px;
}

.main-blog-cursos div article .blog-img3 {
    width: 187px;
    height: 279px;
}

.main-blog-cursos div article h4 {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: justify;
    color: #FF4081;
    margin-top: 52px;
}

.main-blog-cursos div article p {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: justify;
    color: #000000;
    Width: 293px;
    Height: 73.89px;
    margin-top: 28px;
    margin-bottom: 70px;
}

.main-blog-cursos div article a {
    text-decoration: none;
    width: 216px;
    height: 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #FF4081;
    border-radius: 62px;
    padding: 10px 20px;
}

/* ------------------------------------- footer  abaixo ------------------------------------- */

#footer {
    background-color: #2e948a;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Segoe UI';
    padding: 50px;
}

#footer .nav ul li {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    align-items: space-between;
    align-content: space-around;
    padding: 7px;

}

#footer .professor ul li {

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    box-sizing: border-box;
    padding: 10px;
    margin: 9px;
}

#footer a {
    text-decoration: none;
}

/* ------------------------------------- responsividade home abaixo -------------------------------------*/

@media screen and (max-width: 1260px) {

    #header {
        width: 100%;
        padding: 0;
    }


    .main-banner {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
        height: 980px;
        padding: 15px;


    }

    .main-banner img {
        margin-top: 65px;
    }

    .main-cursos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: space-around;
        justify-content: space-around;
        height: 1230px;
        width: 100%;
    }

    .main-avaliacao {
        width: 100%;
        height: 1180px;
        padding-left: 25px;
        align-items: center;
        justify-items: center;

    }

    .main-avaliacao h3 {
        width: 239px;
        height: 25px;
        font-size: 19px;
        line-height: 10px;
        margin-bottom: 39px;
        margin-top: 60px;
    }

    .main-avaliacao-div {
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }

    .main-avaliacao-div article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding-right: 0px;
    }

    .main-avaliacao img {
        width: 95px;
        height: 95px;
        margin-right: 0px;
    }

    .main-avaliacao p {
        text-align: justify;
    }

    .main-blog {
        width: 100%;
        height: 1400px;
        align-items: center;
        align-content: center;
    }

    .main-blog .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .main-blog .container article h {
        text-align: left;

    }

    .main-blog a {
        width: 180px;
        height: 31px;
        font-size: 20px;
    }
}

@media screen and (max-width: 890px) {
    .main-cursos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        padding-left: 0;

    }

    .main-cursos article p {
        margin-top: 12px;
        margin-bottom: 45px;
    }


    .main-cursos .image1 {
        width: 144px;
        height: 135px;
        padding-left: 35%;
    }

    .main-cursos .image2 {
        width: 119px;
        height: 135px;
        padding-left: 35%;
    }

    .main-cursos .image3 {
        width: 94px;
        height: 135px;
        padding-left: 35%;
    }
}

@media screen and (max-width: 768px) {

    #header {
        width: 100%;

    }

    #header nav img {
        width: 122px;
        height: 36px;
    }

    #header nav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        width: 100%;
        padding: 10px;
        padding-right: 0;
        flex-wrap: wrap;
    }

    #header nav ul {
        width: 155px;
        font-size: 15px;
        font-weight: 500;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;

    }

    #header nav ul li {
        padding: 10px;

    }

    .main-banner {

        width: 768px;
        height: 768px;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0;
        background-color: #fff;

    }

    .main-banner h1 {
        font-size: 30px;
        width: 244px;
        line-height: 40px;
        margin-top: 19px;
        height: 108px;
    }

    .main-banner h2 {
        width: 230px;
        margin-top: 0px;
        margin-bottom: 47px;
        height: 30px;
        margin-top: 19px;
        margin-bottom: 87px;
    }

    .main-banner article img {
        width: 250px;
        height: 261px;
    }

    .main-banner a {
        width: 105px;
        padding: 4px 13px;
        font-size: 27px;
        width: 108px;
        height: 21px;
    }

    .main-cursos {
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 0px;
        padding-right: 0px;
        height: 1230px;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 100%;
    }



    .main-cursos article h2 {
        margin-top: 15px;
    }

    .main-cursos article p {
        margin-top: 12px;
        margin-bottom: 45px;

    }

    .main-cursos article a {
        width: 115px;
        height: 25px;
        font-size: 15px;
        margin-left: 35%;
        padding: 4px 10px;
    }

    .main-cursos .image1 {
        width: 144px;
        height: 135px;
        padding-left: 35%;
    }

    .main-cursos .image2 {
        width: 119px;
        height: 135px;
        padding-left: 35%;
    }

    .main-cursos .image3 {
        width: 94px;
        height: 135px;
        padding-left: 35%;
    }

    .main-avaliacao {
        width: 100%;
        height: 1180px;

        padding-left: 25px;
        align-items: center;
        justify-items: center;
    }

    .main-avaliacao h3 {
        width: 239px;
        height: 25px;
        font-size: 19px;
        line-height: 10px;
        margin-bottom: 39px;
        margin-top: 60px;
    }

    .main-avaliacao-div {
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }

    .main-avaliacao-div article {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding-right: 0px;
        width: 345px;
    }

    .main-avaliacao img {
        width: 95px;
        height: 95px;
        margin-right: 0px;
    }

    .main-avaliacao p {
        text-align: justify;
        width: 320px;

    }

    .main-blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 1300px;
    }

    .main-blog h3 {
        font-size: 18px;
        padding-left: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .main-blog .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding: 0;
        padding-left: 0px;
    }

    .main-blog .container article h4 {
        text-align: center;
    }

    .main-blog .container article {
        padding-right: 0px;
    }

    .main-blog a {
        width: 180px;
        height: 31px;
        font-size: 20px;
    }

    #footer {
        width: 100%;
        padding: 0;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    #footer img {
        margin-top: 15px;
        width: 156px;
        height: 50px;
    }

    #footer .nav ul {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}

/*------------------------------------- responsividade da pagina de cursos -----------------------------*/
@media screen and (max-width: 1210px) {
    .cursos-main .cursos-header {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .cursos-main .cursos-header h2 {
        font-size: 30px;
    }

    .cursos-main .cursos-header p {
        font-size: 15px;
        line-height: 10px;
    }

    .cursos-main .container {
        flex-wrap: nowrap;
    }

    .cursos-main .container .curso1 {
        flex-wrap: nowrap;
        align-items: center;
        height: 700px;
    }

    .cursos-main .container .cursosimg1 {
        width: 190px;
        height: 190px;
        padding-left: 0;
        margin-top: 50px;
    }

    .cursos-main .container h2 {
        font-size: 20px;
    }

    .cursos-main .container p {
        font-size: 12px;
        line-height: 15px;
        width: 350px;
        text-align: justify;
    }

    .cursos-main .container a {
        width: 105px;
        height: 25px;
        font-size: 15px;
    }

    .cursos-main .container .curso1 a {
        margin-bottom: 60px;
    }


    .cursos-main .container .curso2 {

        flex-wrap: nowrap;
        align-items: center;
        height: 550px;


    }

    .cursos-main .container .cursosimg2 {
        width: 190px;
        height: 190px;
        margin-left: 0px;
        margin-bottom: 0;
        margin-top: 20px;
    }

    .cursos-main .container .curso2 h2 {
        padding-top: 40px;
    }

    .cursos-main .container .curso2 a {
        margin-bottom: 50px;
    }

    .cursos-main .container .curso2::before {
        width: 80%;
        display: block;
        position: absolute;
        top: 905px;
    }

    .cursos-main .container .curso2::after {
        width: 80%;
        display: block;
        position: absolute;
        top: 1455px;
    }

    .cursos-main .container .curso3 {
        flex-wrap: nowrap;
        align-items: center;
        height: 720px;
    }

    .cursos-main .container .curso3 .cursosimg3 {
        width: 190px;
        height: 250px;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    .cursos-main .container .curso3 h2 {
        margin-top: 20px;
    }
}

/* ------------------------------------- responsividade da pagina aulas curso  abaixo ----------------------*/



@media screen and (max-width: 1280px) {

    .aula-banner {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 700px;
    }

    .aula-banner h2 {
        font-size: 27px;
        line-height: 30px;
        width: 255px;
        text-align: center;
        margin-top: 45px;
    }

    .aula-banner p {
        font-size: 15px;
        line-height: 20px;
        width: 340px;
        text-align: justify;
        margin-bottom: 40px;
    }

    .aula-banner img {
        width: 190px;
        height: 190px;
        margin-top: 10px;
    }

    .aulas-video {
        height: 1300px;
    }

    .aulas-video iframe {
        margin: 0;
        margin-top: 75px;
        width: 375px;

    }

    .aulas-video h2 {
        font-size: 27px;
        line-height: 20px;
        margin-top: 30px;
        margin-left: 30px;
    }

    .aulas-video p {
        font-size: 15px;
        line-height: 18px;
        width: 340px;
        height: 150px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 150px;
    }

    .aulas-video article {
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
    }

    .aulas-video .aula1::before {
        top: 1290px;
    }

    .aulas-video .aula1::after {
        top: 1700px;
    }
}

/* ------------------------------------- responsividade da pagina post do blog abaixo ----------------------*/

@media screen and (max-width: 1047px) {


    .main-blog-cursos {
        min-width: 768px;
        min-height: 1500px;
        padding: 20px;


    }

    .main-blog-cursos div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 768px;
    }

    .main-blog-cursos div article a {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 1036px) {

    #header {
        width: 100%;
    }

    .main-blog-internal section img {
        max-width: 330px;
        max-height: 232px;
    }
}


@media screen and (max-width: 768px) {

    .main-blog-internal section {
        padding: 15px;
        width: 100%;
        min-width: 330px;
        display: flex;
        align-items: center;
    }

    .main-blog-internal section h2 {
        font-size: 25px;
        margin-top: 55px;
        line-break: auto;
        padding-right: 25px;
        line-height: 25px;
    }

    .main-blog-internal section span {
        font-size: 10px;
        margin-top: 6px;
        
    }

    .main-blog-internal section img {
        width: 330px;
        height: 232px;
        padding-right: 15px;
    }

    .main-blog-internal section p {
        font-size: 12px;
        line-height: 15px;
        padding-right: 0px;
        width: 300px;
    }

    .main-blog-internal section h3 {
        font-size: 15px;
        font-weight: 500;
        line-break: auto;
        padding-right: 30px;
        align-self: center;
        width: 260px;
    }

    .main-blog-cursos {
        align-items: center;
        width: 100%;
        min-height: 1250px;
        min-width: 330px;
        flex-wrap: wrap;
        align-content: center;
    }

    .main-blog-cursos h3 {
        font-size: 25px;
        padding-top: 40px;
        margin-bottom: 10px;
    }

    .main-blog-cursos div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 330px;
    }

    .main-blog-cursos div article {
        align-content: center;
        align-items: center;
        min-width: 320px;
        margin-top: 30px;
    }

    .main-blog-cursos div article .blog-img1 {
        width: 144px;
        height: 140px;
    }

    .main-blog-cursos div article .blog-img2 {
        width: 120px;
        height: 140px;
    }

    .main-blog-cursos div article .blog-img3 {
        width: 145px;
        height: 140px;
    }

    .main-blog-cursos div article h4 {
        font-size: 18px;
        margin-top: 20px;
    }

    .main-blog-cursos div article p {
        font-size: 12px;
        Width: 200px;
        Height: 36px;
        line-height: 15px;
        margin-top: 15px;
        margin-bottom: 70px;
    }

    .main-blog-cursos div article a {
        font-size: 12px;
        width: 105px;
        height: 12px;
        padding: 5px 10px;
        line-height: 13px;
        margin-bottom: 0px;
    }
}


/* ------------------------------------- responsividade da pagina post do blog abaixo ----------------------*/


@media screen and (max-width: 1320px) {

    .blog-main {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding: 0;
        height: 1000px;
    }

    .blog-main h3 {
        padding-left: 0;
        width: 461px;
        text-align: center;
    }

    .blog-main p {
        padding-left: 0;
        text-align: justify;
    }

    .blog-vitrine {
        padding-left: 15px;
        align-content: space-around;
        justify-content: space-around;
    }

    .blog-vitrine article {
        margin-left: 20px;
    }

    .blog-vitrine article img {
        width: 400px;
        height: 210px;
        padding-right: 0;
    }

    .blog-vitrine article h2 {


        width: 300px;
        text-align: flex-start;
    }

    .blog-vitrine article p {
        width: 300px;
    }

}

@media screen and (max-width: 768px) {

    .blog-main {
        align-items: center;
        max-height: 470px;

    }

    .blog-main h3 {
        font-size: 24px;
        line-break: auto;
        padding: 0;
        line-height: 25px;
        width: 255px;
        height: 55px;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .blog-main p {
        font-size: 12px;
        line-height: 15px;
        padding: 0;
        width: 230px;
        height: 55px;
        text-align: justify;
        margin-bottom: 60px;
    }

    .blog-main img {
        width: 200px;
        height: 200px;
        padding: 0;
    }

    .blog-vitrine {
        padding: 0px;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding-left: 0;
        width: 100%;
    }

    .blog-vitrine article img {
        width: 300px;
        height: 190px;
        margin-top: 15px;
        padding: 0;
    }

    .blog-vitrine article h2 {
        font-size: 15px;
        margin-top: 10px;

    }

    .blog-vitrine article p {
        font-size: 12px;
        line-height: 12px;
        width: 300px;
        height: 50px;
        margin-top: 10px;

    }
}



/* ------------------------------------- responsividade da pagina de contatos abaixo -------------------------------------*/
@media screen and (max-width: 1195px) {
    .contato-main {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
        align-items: left;
    }

    .contato-main form {
        padding: 15px;
        margin: 0;
    }

    .contato-main form input {
        width: 720PX;
    }

    .contato-main form textarea {
        width: 720PX;
    }

    .contato-main form button {
        margin-bottom: 0px;
    }

    .contato-main img {
        margin: 0;
        padding: 0;
        padding-left: 20%;

    }
}

@media screen and (max-width: 768px) {

    .contato-main {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
        align-items: center;
    }

    .contato-main form h2 {
        font-size: 30px;
        padding: 0;
        margin-top: 0;
    }

    .contato-main form {
        padding: 15px;
        padding-right: 0;
        width: 400px;
        margin-top: 0;
    }

    .contato-main form::placeholder {
        font-size: 10PX;
    }

    .contato-main form input {
        width: 340PX;
        font-size: 10px;
    }

    .contato-main form textarea {
        width: 340PX;
        font-size: 10px;
    }

    .contato-main form textarea::placeholder {
        font-size: 10PX;
    }

    .contato-main form button {
        margin-bottom: 15px;
    }

    .contato-main img {
        width: 222px;
        height: 222px;
        margin: 0;
        padding: 0;
        margin-left: 0px;
        padding-bottom: 30px;
    }
}